<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset = "UTF-8">
    <title>Enter persons</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0-1/css/bootstrap.min.css}"/>
</head>
<body>
<script th:src="@{/webjars/bootstrap/4.6.0-1/js/bootstrap.bundle.min.js}"></script>

<form action="#" th:action="@{/person}" method="post" th:object="${person}">
    <div class="mb-3">
        <label class="form-label">Name</label>
        <input type="text" class="form-control" id="name" name="name"/>
    </div>
    <div class="mb-3">
        <label class="form-label">Age</label>
        <input type="text" class="form-control" id="age" name="age"/>
    </div>
    <div class="mb-3">
        <label class="form-label">Temperature</label>
        <input type="text" class="form-control" id="temperature" name="temperature"/>
    </div>
    <div class="mb-3">
        <button type="submit" class="btn-primary">Enter</button>
    </div>
</form>

<div>
    <h1>Список пользователей</h1>
    <table class="table">
        <tr>
            <th>ID</th>
            <th>Имя</th>
            <th>Возраст</th>
            <th>Температура</th>
        </tr>
        <tr th:each="person : ${persons}">
            <td th:text="${person.id}">...</td>
            <td th:text="${person.name}">...</td>
            <td th:text="${person.age}">...</td>
            <td th:text="${person.temperature}">...</td>
        </tr>
    </table>
</div>
</body>
</html>